/* --- GENERAL --- */
.presentation__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
}

.only-users {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-size: 1.5rem;
}
    .user-icon {
        font-size: 3rem;
    }

/* --- HERO --- */
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title-container {
    display: flex;
    align-items: center;
}

    .hero__title-logo {
        font-size: 8rem;
    }

    .hero__title {
        font-size: 4rem;
        margin: var(--spacing-24) 0;
        letter-spacing: 4px;
        font-weight: var(--bold);
    }

.hero__description-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-16);
}

    .hero__image-container {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .hero__description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
        background-color: #f4eee2ee;
        padding: var(--spacing-24);
        border-radius: 15px;
    }

        .hero__description__title {
            font-size: 3rem;
        }

        .hero__description__text {
            font-size: 2rem;
        }

/* --- WEEK - DAILY - DETAIL --- */
.week-forecast__container,
.daily-forecast__container,
.forecast-detail__container {
    margin: var(--spacing-24) 0;
    display: flex;
    flex-direction: column;
}

    .week-forecast__bubble,
    .daily-forecast__bubble,
    .forecast-detail__bubble {
        border-radius: 15px;
        padding: var(--spacing-24);
        background-color: #f4eee2ee;
        width: 70%;
    }

        .week-forecast__title,
        .daily-forecast__title,
        .forecast-detail__title {
            font-size: 3rem;
        }

        .week-forecast__text,
        .daily-forecast__text,
        .forecast-detail__text {
            font-size: 2rem;
            width: 90%;
        }

    .week-forecast__image--flex,
    .daily-forecast__image--flex,
    .forecast-detail__image--flex {
        display: flex;
        justify-content: flex-end;
    }

    .week-forecast__image-container,
    .daily-forecast__image-container,
    .forecast-detail__image-container {
        width: 80%;
    }
