.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.hero__title {
    font-size: 4rem;
    margin: var(--spacing-24);
}

.hero__description-container {
    position: relative;
    display: flex;
    width: 100%;
}

    .hero__image-container {
        width: 75%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .hero__description {
        position: absolute;
        right: 0;
        bottom: 25%;
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
        background-color: rgba(230, 230, 230, 0.8);
        backdrop-filter: blur(20px);
        padding: var(--spacing-24);
        border-radius: 15px;
    }

        .hero__description__title {
            font-size: 3rem;
        }

        .hero__description__text {
            font-size: 2rem;
        }

/* --- DAILY --- */
.daily-forecast__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}

    .daily-forecast__description-container {
        background-color: rgba(230, 230, 230, 0.8);
        backdrop-filter: blur(20px);
        padding: var(--spacing-24);
        height: 50%;
        width: 70%;
        border-radius: 15px;
    }

        .daily-forecast__title {
            font-size: 3rem;
        }

        .daily-forecast__text {
            font-size: 2rem;
        }

    .daily-forecast__image-container {
        position: absolute;
        right: 0px;
        bottom: 25%;
        width: 90%;
    }


/* --- WEEK --- */
.week-forecast__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    margin-top: var(--spacing-24);
}

    .week-forecast__description-container {
        background-color: rgba(230, 230, 230, 0.8);
        backdrop-filter: blur(20px);
        padding: var(--spacing-24);
        height: 50%;
        width: 70%;
        border-radius: 15px;
    }

        .week-forecast__title {
            font-size: 3rem;
        }

        .week-forecast__text {
            font-size: 2rem;
        }

    .week-forecast__image-container {
        position: absolute;
        left: 0px;
        bottom: 25%;
        width: 90%;
    }
