.card--login{
    max-width: 600px;
}

.btn--login{
    width: 100%;
}

.singup__text{
    font-size: 1.5rem;
}

form .inputs__container:first-child{
    margin-top: var(--spacing-48);
}
form .inputs__container:last-child{
    margin-top: var(--spacing-64);
}