.card {
    position: relative;
    width: 100%;
    margin-bottom: var(--spacing-24);
    padding: var(--spacing-24);
    background: var(--bg-card);
    border-radius: var(--br-primary);
    box-shadow: var(--bs-primary);
}

.card__header {
    margin-bottom: var(--spacing-24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .card__body { } */

.card__title {
    font-size: 2.5rem;
    color: var(--text-black-solid);
}

.card__subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-black-medium);
}
