.card{
    width: 100%;
    margin-bottom: var(--spacing-24);
    padding: var(--spacing-24);
    background: var(--bg-card);
    border-radius: var(--br-primary);
    box-shadow: var(--bs-primary);
}

.card__title{
    margin-bottom: var(--spacing-24);
    font-size: 2rem;
    color: var(--text-black-medium);
}
