.slider-container{
    position: relative;
}

.slider{
    padding: 0 2rem;
}

/* Fix para flechas de navegacion */
.slick-prev:before,
.slick-next:before{
    color: var(--text-black-solid) !important;
    font-size: 3rem !important;
    transition: opacity var(--tr-03);
}

.slick-prev{
    left: 0 !important;
}

.slick-next{
    right: 0 !important;
}