.main-grid__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-grid__subtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;

}

.main-grid__title {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
}
