.background__rainy {
    background: linear-gradient(-45deg, #2a2c41, #4c4f6b, #6f7596, #8d92a4);
    background-size: 200% 200%;
    animation: gradient 60s linear infinite;
}

.background__sunny {
    background: linear-gradient(-45deg, #563918, #6b411e, #9a6536, #ce8244);
    background-size: 200% 200%;
    animation: gradient 60s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
