@import url('../../../styles/card.css');

.current-container {
    width: 100%;
    margin: var(--spacing-64) 0;
    margin-top: var(--spacing-32);
    color: var(--text-white-hard);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-120);
    text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

/* Current location */

.current__local-date {
    text-align: center;
    font-size: 1.8rem;
    font-weight: var(--bold);
    letter-spacing: 1px;
}

.current__local-date span{
    font-weight: var(--regular);
}

.current__location {
    text-align: center;
    font-size: 3rem;
    font-weight: var(--regular);
}

/* Current Temp */

.current__temperature {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
}

.current__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-8);
    font-size: 1.7rem;
    font-weight: var(--regular);
    text-wrap: wrap;
}

.current__icon {
    max-width: 140px;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.15));
}

.current__icon--forecast{
    max-width: 50px;
}

.current__temp-c{
    font-size: 10rem;
    font-weight: var(--semibold);
}

/* Current detail */
.current-detail{
    padding: var(--spacing-12);
    margin: var(--spacing-16) 0;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
}

.current-detail__item{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.current-detail__icon{
    color: var(--color-primary);
    font-size: 2.7rem;
}

.current-detail__info{
    color: var(--text-black-solid);
    font-size: 1.5rem;
    font-weight: var(--semibold);
    letter-spacing: 1.5px;
}


/* MobileResponsive */
@media screen and (max-width: 768px) {
    .current-container {
        margin-bottom: var(--spacing-32);
        gap: var(--spacing-16);
    }

        .current-location {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            margin: 0 var(--spacing-12);
        }

            .current__local-date {
                display: flex;
                flex-direction: column;
                font-size: 1.7rem;
                letter-spacing: 0.5px;
                margin-bottom: var(--spacing-8);
            }

            .current__location {
                font-size: 2rem;
            }

        .current-temperature {
            gap: var(--spacing-32);
            margin: 0 var(--spacing-12);
            font-size: 8rem;
        }

            .current__temp-c {
                font-size: 6rem;
            }

}
/* FIN MobileResponsive */
