@import url('../../../styles/card.css');

.current-container{
    width: 100%;
    margin: var(--spacing-64) 0;
    color: var(--text-white-hard);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-120);
    text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

/* Current location */

.current__local-date {
    text-align: center;
    font-size: 1.8rem;
    font-weight: var(--bold);
    letter-spacing: 1px;
}

.current__local-date span{
    font-weight: var(--regular);
}

.current__location {
    text-align: center;
    font-size: 3rem;
    font-weight: var(--regular);
}

/* Current Temp */

.current-temp{
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
}

.current__icon{
    max-width: 170px;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.15));
}

.current__icon--forecast{
    max-width: 50px;
}

.current__temp{
    font-size: 10rem;
    font-weight: var(--semibold);
}

/* Current detail */
.current-detail{
    padding: var(--spacing-12);
    margin: var(--spacing-16) 0;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
}

.current-detail__item{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.current-detail__icon{
    color: var(--text-black-medium);
    font-size: 2.7rem;
}

.current-detail__info{
    color: var(--text-black-solid);
    font-size: 1.5rem;
    font-weight: var(--semibold);
    letter-spacing: 1.5px;
}

/* Background icons style */

.bg--sunny{
    background: var(--dg-lightblue);
}
    .bg--sunny .nav,
    .bg--sunny .nav__logo,
    .bg--sunny .current-container {
        color: var(--text-white-hard);
    }

.bg--partly_cloudy_night{
    background: var(--dg-deepblue);
}
    .bg--partly_cloudy_night .nav,
    .bg--partly_cloudy_night .nav__logo,
    .bg--partly_cloudy_night .current-container {
        color: var(--text-white-hard);
    }

.bg--clear_night{
    background: var(--dg-darkblue);
}
    .bg--clear_night .nav,
    .bg--clear_night .nav__logo,
    .bg--clear_night .current-container {
        color: var(--text-white-hard);
    }

.bg--partly_cloudy_day{
    background: var(--dg-purple);
}
    .bg--partly_cloudy_day .nav,
    .bg--partly_cloudy_day .nav__logo,
    .bg--partly_cloudy_day .current-container {
        color: var(--text-white-hard);
    }

.bg--cloud{
    background: var(--dg-lightgray);
}
    .bg--cloud .nav,
    .bg--cloud .nav__logo,
    .bg--cloud .current-container {
        color: var(--text-black-solid);
    }

.bg--foggy{
    background: var(--dg-lightgray);
}
    .bg--foggy .nav,
    .bg--foggy .nav__logo,
    .bg--foggy .current-container {
        color: var(--text-black-solid);
    }

.bg--weather_mix{
    background: var(--dg-weather_mix);
}
    .bg--weather_mix .nav,
    .bg--weather_mix .nav__logo,
    .bg--weather_mix .current-container {
        color: var(--text-black-solid);
    }

.bg--weather_snowy{
    background: var(--dg-ultralightblue);
}
    .bg--weather_snowy .nav,
    .bg--weather_snowy .nav__logo,
    .bg--weather_snowy .current-container {
        color: var(--text-black-solid);
    }

.bg--rainy{
    background: var(--dg-gray);
}
    .bg--rainy .nav,
    .bg--rainy .nav__logo,
    .bg--rainy .current-container {
        color: var(--text-white-hard);
    }

.bg--thunderstorm{
    background: var(--dg-gray);
}
    .bg--thunderstorm .nav,
    .bg--thunderstorm .nav__logo,
    .bg--thunderstorm .current-container {
        color: var(--text-white-hard);
    }

.bg--routine{
    background: var(--dg-routine);
}
    .bg--routine .nav,
    .bg--routine .nav__logo,
    .bg--routine .current-container {
        color: var(--text-black-solid);
    }

.bg--default{
    background: var(--dg-default);
}
    .bg--default .nav,
    .bg--default .nav__logo,
    .bg--default .current-container {
        color: var(--text-black-solid);
    }
