.fav__ul{
    margin-top: var(--spacing-64);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
}

.fav__li{
    padding-left: var(--spacing-12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid var(--bg);
    transition: border-left var(--tr-03);
}

    .fav__li:hover{
        border-left: 2px solid var(--color-secondary);
    }

.fav__text-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}
    .fav__tag{
        margin-bottom: var(--spacing-12);
        font-weight: var(--bold);
        font-size: 2.3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .fav__data{
        .fav__data p{
            font-weight: var(--semibold);

        }
        .fav__data p span{
            font-weight: var(--regular);
        }
    }

.li__buttons-container{
    display: flex;
    gap: var(--spacing-12);
}