.search__container {
    display: flex;
    gap: 20px;
}

.search__bar {
    flex: 1;
    border: none;
    font-size: 1.8rem;
    color: #222;
}

    .search__bar .css-1u9des2-indicatorSeparator {
        width: 0px;
    }

.search__button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

    .search__button:hover {
        background-color: #999999b4;
    }

/* --- RESPONSIVE --- */
@media screen and (max-width: 768px) {
    .search__container {
        margin: var(--spacing-16);
    }
}
