.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: var(--spacing-8) var(--spacing-24);
}

.container--main{
    flex-grow: 1;
}

.sub-container{
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-items: center ;
}


/* Clases globales */

.text-dg-primary{
    width: fit-content;
    background-image: var(--dg-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Background icons style */
.bg--sunny{
    background: var(--dg-lightblue);
}
    .bg--sunny .nav,
    .bg--sunny .nav__logo,
    .bg--sunny .current-container {
        color: var(--text-white-hard);
    }

.bg--partly_cloudy_night{
    background: var(--dg-deepblue);
}
    .bg--partly_cloudy_night .nav,
    .bg--partly_cloudy_night .nav__logo,
    .bg--partly_cloudy_night .current-container {
        color: var(--text-white-hard);
    }

.bg--clear_night{
    background: var(--dg-darkblue);
}
    .bg--clear_night .nav,
    .bg--clear_night .nav__logo,
    .bg--clear_night .current-container {
        color: var(--text-white-hard);
    }

.bg--partly_cloudy_day{
    background: var(--dg-purple);
}
    .bg--partly_cloudy_day .nav,
    .bg--partly_cloudy_day .nav__logo,
    .bg--partly_cloudy_day .current-container {
        color: var(--text-white-hard);
    }

.bg--cloud{
    background: var(--dg-lightgray);
}
    .bg--cloud .nav,
    .bg--cloud .nav__logo,
    .bg--cloud .current-container {
        color: var(--text-black-solid);
    }

.bg--foggy{
    background: var(--dg-lightgray);
}
    .bg--foggy .nav,
    .bg--foggy .nav__logo,
    .bg--foggy .current-container {
        color: var(--text-black-solid);
    }

.bg--weather_mix{
    background: var(--dg-weather_mix);
}
    .bg--weather_mix .nav,
    .bg--weather_mix .nav__logo,
    .bg--weather_mix .current-container {
        color: var(--text-black-solid);
    }

.bg--weather_snowy{
    background: var(--dg-ultralightblue);
}
    .bg--weather_snowy .nav,
    .bg--weather_snowy .nav__logo,
    .bg--weather_snowy .current-container {
        color: var(--text-black-solid);
    }

.bg--rainy{
    background: var(--dg-gray);
}
    .bg--rainy .nav,
    .bg--rainy .nav__logo,
    .bg--rainy .current-container {
        color: var(--text-white-hard);
    }

.bg--thunderstorm{
    background: var(--dg-gray);
}
    .bg--thunderstorm .nav,
    .bg--thunderstorm .nav__logo,
    .bg--thunderstorm .current-container {
        color: var(--text-white-hard);
    }

.bg--routine{
    background: var(--dg-routine);
}
    .bg--routine .nav,
    .bg--routine .nav__logo,
    .bg--routine .current-container {
        color: var(--text-black-solid);
    }

.bg--default{
    background: var(--bg);
}
    .bg--default .nav,
    .bg--default .nav__logo,
    .bg--default .current-container {
        color: var(--text-black-solid);
    }