.extra-info__container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.extra-info__icon {
    font-size: 3rem;
}

.extra-info__info {
    font-size: 2rem;
}
