.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-solid);
    font-size: 1.5rem;
}

/* Logo */
.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);
}

.nav__logo-icon{
    font-size: 3.5rem;
    color: var(--color-primary);
}

.nav__logo-text{
    font-weight: var(--bold);
    letter-spacing: 2px;
}

/* Menu */
.nav__ul{
    margin: 0 var(--spacing-4);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-16);
}

.nav__li{
    padding: var(--spacing-4) var(--spacing-8);
    border-radius: var(--br-secondary);
    transition: color var(--tr-03), background var(--tr-03), box-shadow var(--tr-03);
}

.nav__li:hover{
    background: var(--color-secondary);
    color: var(--text-white-hard);
    box-shadow: var(--bs-secondary);
    }

.nav__link{
    display: flex;
    justify-content: center;
    gap: var(--spacing-4);
    cursor: pointer;
}

    .nav__link:visited{
        color: var(--text-dark-solid);
    }

.nav__icon{
    font-size: 2rem;
}