.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-dark-solid);
    font-size: 1.5rem;
}

/* Logo */
.nav__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);
}

.nav__logo-icon{
    font-size: 3.5rem;
}

.nav__logo-text{
    font-weight: var(--bold);
    letter-spacing: 2px;
}

.nav__ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-16);
}

.nav__link{
    display: flex;
    justify-content: center;
    gap: var(--spacing-4);
    cursor: pointer;
}

.nav__link:visited{
    color: var(--text-dark-solid);
}

.nav__icon{
    font-size: 2rem;
}


.nav__logout {
    border: none;
    border: 1px solid var(--text-white-hard);
    color: var(--text-white-hard);
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    padding: var(--spacing-8);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

    .nav__logout:hover {
        background-color: burlywood;
    }
